<section class="new-training" fxLayout fxLayoutAlign="center">
  <form [formGroup]="newTrainingForm" (ngSubmit)="onStartTraining()">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"
        >Time to start a workout!</mat-card-title
      >
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
          <mat-select
            placeholder="Choose Exercise"
            formControlName="exercise"
            required
          >
            <mat-option
              *ngFor="let exercise of exercises$ | async"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button
          mat-raised-button
          type="submit"
          [disabled]="newTrainingForm.invalid"
          color="primary"
          (click)="onStartTraining()"
        >
          {{ "Start" | uppercase }}
        </button>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
